*.h5ad
*.csv 
*.xlsx
*.txt
figures_notebooks/figure_*/figures/
figures_notebooks/figure_*/figures_EQ/*
figures_notebooks/figure_*/*.csv
figures_notebooks/figure_*/*.txt
figures_notebooks/supp_figure_*/figures/
figures_notebooks/supp_figure_*/calico_figures/*
figures_notebooks/supp_figure_*/figures_EQ/*
figures_notebooks/supp_figure_*/*.csv
figures_notebooks/supp_figure_*/*.txt
figures_notebooks/supp_figure_X_*/
figures_notebooks/.ipynb_checkpoints
data/*
misc/*
figures_misc/*
utils/__pycache__/*
utils/pairwise_differential_expression.py
utils/feature_ranking_Copy1.py
utils/feature_ranking.py
add_gene_ids.ipynb 
update_data_labels.ipynb
notebooks/*
figures_notebooks/supp_figure_4/2023-06-07-PanGlialMarker_GeneTrends_4GroupPartition.ipynb
